.page {
    display: flex;
    background-image: url("../../../public/images/bg_editProfile.svg");
    background-repeat: no-repeat;
    background-size: auto;
}
.body {
    display: flex;
    flex-wrap: wrap;
    height: 100vh;
    width: 96.5vw;
}
.body__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 6vh;
    width: 96vw;
    border-bottom: 1px solid rgba(0, 0, 0, 0.185);
    font-size: 2.5vh;
        .message {
            display: none;
            color:rgb(27,0,133);
            text-decoration: underline;
        }          
}
.header__p {
    margin-left: 4%;
}

.header__btn {
    background-color: rgba(0, 0, 0, 0);
    border: none;
    cursor: pointer;
}
.header__image {
    width: 1.2vw;
    height: 1.2vw;
}
.header__btn__close {
    width: 2vw;
    height: 2vw;
    display: none;
    justify-content: center;
    align-items: center;
    border: none;
    background-color: rgba(0, 0, 0, 0);
    color: rgba(0, 0, 0, 0.5);
    font-size: 2vw;
    cursor: pointer;
}
.header__btn__close:hover {
    background-color: rgba(0, 0, 0, 0.07);
    border-radius: 999px;
}
.body__userInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    width: 48vw;
    height: 94vh;          
}
.userInfo__avatar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45vw;
    font-size: 1.7vw;
    margin-bottom: 20vh;
        .avatar {
            margin-left: 7vw;
            border: 1px solid rgb(27,0,133);
            width: 8vw;
            height: 8vw;
            border-radius: 10px;
            box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5)
        }
        .avatar:hover { 
            background: rgb(27,0,133);
            background-image: url("../../../public/images/icons/icon_add_square.svg");
            background-repeat: no-repeat;
            background-size: 20%;
            background-position: 90% 95%;
            box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5)
        }
}
.form__icon {
    width: 1.5vw;
    height: 1.5vw;
    margin-left: 75%; 
}
.form__input_avatar {
    width: 100%;
    height: 100%;
	opacity: 0;
	display: block;
	cursor: pointer;
}
.userInfo__names {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 27.5vw;
    margin-top: 4vh;
    margin-left: 8vw;
    font-size: 1.2vw;
    background-color: rgb(255, 255, 255);
    border-radius: 1vw;
            .props {
                margin-left: 2vw;
                width: 15vw;
                height: 3vh;
                border-bottom: 1px solid rgb(27,0,133);
            }
}
.body__userInfo_input:enabled {
    width: 15vw;
    height: 3vh;
    background-color: rgba(27, 0, 133, 0.06);
    border: none;
}
.body__userInfo_input:disabled {
    width: 15vw;
    height: 3vh;
    background-color: rgba(0, 0, 0, 0);
    border: none;
}
.userInfo__save:enabled {
    display: block;
    width: 7.5vw;
    height: 3vh;
    margin-left: 75%;
    margin-top: 3%;
    font-size: 1.2vw;
    color:white;
    border: none;
    background-color: rgba(120,0,178);
    border-radius: 5px;
    cursor: pointer;
}
.userInfo__save:disabled {
    display: block;
    width: 7.5vw;
    height: 3vh;
    margin-left: 75%;
    margin-top: 3%;
    font-size: 1.2vw;
    border-radius: 5px;
    background-color: rgb(190, 190, 190);
    cursor:not-allowed;
}
.userInfo__save:enabled:hover {
    background-color: rgb(84, 0, 126);
}
.userInfo__btn__editPass:enabled {
    width: 7.5vw;
    height: 3vh;
    margin-left: 75%;
    margin-top: .5%;
    text-decoration: underline;
    font-size: .7vw;
    color:rgba(120,0,178);
    border: none;
    background-color: rgba(0, 0, 0, 0);
    cursor: pointer;
}
.userInfo__btn__editPass:disabled { 
    width: 7.5vw;
    height: 3vh;
    margin-left: 75%;
    margin-top: .5%;
    text-decoration: underline;
    font-size: .7vw;
    color:rgb(172, 172, 172);
    border: none;
    background-color: rgba(0, 0, 0, 0);
    cursor:not-allowed ;
}
.userInfo__btn__editPass:enabled:hover {
    color: rgb(255, 0, 191);
}
.body__gameInfo {
    width: 48vw;
    height: 94vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 1.5vw;
}
.body__nickname {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: fixed;
    height: 3vh;
    margin-bottom: 30%;
        .nickname {
            margin-left: 2vw;
            width: 15vw;
            border-bottom: 1px solid rgb(27,0,133);
        }
}
.gameInfo__achievements {
    background-color: rgba(0, 0, 0, 0);
    margin-top: 20%;
    position: fixed;
}
.gameInfo__achievements_body {
    width: 46vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.background {
    display: none;
    position: fixed;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: rgb(0, 0, 0, 0.5);
    z-index: 1;
    overflow: auto;
    border: 1px solid black;
}
.modal {
    display: flex;
    text-align: center;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 26vw;
    height: 30vh;
    background: rgb(27,0,133);
    background: linear-gradient(180deg, rgba(27,0,133,1) 0%, rgba(67,0,133,1) 50%, rgba(120,0,178,1) 100%);
    color: white;
    border-radius: .5vw;
    border: 2px solid black;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5)
}
.modal__header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 24.5vw;
    height: 20%;
    font-size: 1.2vw;
}
.modal__btn__close {
    width: 1vw;
    height: 1vw;
    margin-left: 6vw;
    background-color: rgba(0, 0, 0, 0);
    border-radius: 4px;
    color: white;
    border:none;
    cursor: pointer;
}
.modal__btn__close:hover {
    color:black;
    background-color: rgba(255, 255, 255, 0.4);
}
.modal__form {
    width: 26vw;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.modal__save {
    margin-left: 70%;
    padding: 4px;
    color:rgb(255, 255, 255);
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid white;
    border-radius: 4px;
    cursor: pointer;
}
.modal__save:hover{ 
    border: 1px solid rgba(0, 0, 0, 0.5);
}
.userInfo__password {
    width: 24vw;
    height: 2vh;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    border-radius: 4px;
    font-size: .9vw;
}
.form__oldPassword,
.form__newPassword {
    margin-left: 2vw;
    padding-left: 4px ;
    background-color: rgba(255, 255, 255, 0.5); 
    border-bottom: 1px solid rgba(255, 255, 255, 0.493);
}
.password {
    width: 15vw;
    height: 3vh;
    background-color: rgba(27, 0, 133, 0.06);
    border: none;
}
.softBar {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 3.5vw;
    height: 100vh;
    background: rgb(27,0,133);
    background: linear-gradient(180deg, rgba(27,0,133,1) 0%, rgba(67,0,133,1) 50%, rgba(120,0,178,1) 100%);
        .softBar__icon {
            width: 3vw;
            height: 2vw;
        }
}
.softBar__btn {
    margin-top: 1vh;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    border-bottom: 2px solid white;
    cursor: pointer;
}
.softBar__btn:hover { 
    background-color: rgba(255, 255, 255, 0.144);
}
