.back_btn {
    display: flex;
    align-items: center;
    font-size: 60px;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    cursor: pointer;
        .send_icon {
            background-image: url("../../../public/images/icons/129414_icon_send.svg");
            background-repeat: no-repeat;
            background-size:contain;
            width: 120px;
            height: 120px;
        }
}
