.error404_page {
    background-image: url("../../../public/images/bg_404.svg");
    background-repeat: no-repeat;
    background-size:auto;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
}


.error404_header {
    height: 20%;
    
}
.service_is_broken {
    display: flex;
    align-items: center;
    margin-top: 30%;
    font-size: 8vh;
        .tools_icon {
            background-image: url("../../../public/images/icons/icon\ _tools.svg");
            background-repeat: no-repeat;
            background-size:contain;
            width: 120px;
            height: 120px;
        }
}


.error404_body {
    height: 80%;
}
.btn_back {
    margin-top: 45%;
}


