.page {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-image: url("../../../public/images/bg_404.svg");
    background-repeat: no-repeat;
    background-size:auto; 
}
.page__span {
    display: flex;
    font-size: 4vw;  
}
.span__icon {
    background-image: url("../../../public/images/icons/icon\ _tools.svg");
    background-repeat: no-repeat;
    background-size:contain;
    width: 5vw;
    height: 5vw;
}
.page__button {
    margin-top: 10%;
}


