@import url('../public/fonts/fonts.css');

* {
  font-family: Inter;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style-type: none;
}

input,
textarea {
  outline: none;
}

html,
body {
  font-family: Inter, sans-serif;
}

body {
  position: relative;
}

:root[data-theme="light"] {
  --background-color: #fafafa;
  --text-color: rgb(0, 0, 0);
  --input-text-color: #7b7b7b;
}
:root[data-theme="dark"] {
  --background-color: #23153b;
  --color-text: #fafafa
}

body {
  background: var(--background-color);
  color: var(--color-text);
}

a {
  color: var(--color-text);
}

h1 {
  font-size: 32px;
  line-height: 32px;
  font-weight: 500;
}

h2 {
  font-size: 24px;
  line-height: 24px;
  font-weight: 500;
}

h3 {
  font-size: 20px;
  line-height: 20px;
  font-weight: 500;
}

h4 {
  font-size: 16px;
  line-height: 16px;
  font-weight: 500;
}

h5 {
  font-size: 12px;
  line-height: 12px;
  font-weight: 500;
}
