.button {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    font-size: 1vw;
    color: black;
    background:none;
    border: none;
    cursor: pointer;

    &:hover {
        background-color: rgba(0, 0, 0, 0.06);
        border-radius: 5px;
    }
}

.icon {
    width: 3vw;
    height: 3vw;
    background-size: auto;
    background-repeat: no-repeat;
}
.link {
    color: black;
    cursor: pointer;

    &:hover {
        color:#c532ff;
    }
}
