.page {
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content:center;
    text-align: center;
    background-image: url("../../../public/images/bg_500.svg");
    background-repeat: no-repeat;
    background-size:auto;
}
.page__p {
    font-size: 6.5vh;
}
.page__btn {
    margin-top: 6%;
}
