.error500_page {
    background-image: url("../../../public/images/bg_500.svg");
    background-repeat: no-repeat;
    background-size:auto;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
}


.error500_header {
    height: 20vh;
    margin-top: 5vh;
}
.service_is_unavailable {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10vh;
    font-size: 8vh;
}


.error500_body {
    height: 80vh;
}

.btn_back {
    margin-top: 45%;
}
