.root {
  display: flex;
  min-height: 100px;
  margin-top: 40px;
}
.message {
  padding: 16px 16px;
  background: rgba(67, 0, 133, 0.29);
  width:80%;
  height: 100%;
  border-radius: 10px;
  position: relative;
}
.nickName {
  position: absolute;
  top: -30px;
  left: 1px;
  font-size: 16px;
  color: rgba(67, 0, 133, 0.37);
}
