.root {
    display: flex;
    position: fixed;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: rgb(0, 0, 0, 0.5);
    z-index: 1;
    overflow: auto;
    border: 1px solid black;
}

.modal {
    display: flex;
    text-align: center;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 30%;
    height: 35%;
    background-color: white;
    border-radius: .5vw;
    border: 2px solid black;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
    color: black;
}


.header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 85%;
    height: 20%;
    font-size: 1.2vw;
}

.btnClose {
    width: 1vw;
    height: 1vw;
    margin-left: 6vw;
    background-color: rgba(0, 0, 0, 0);
    border-radius: 4px;
    border:none;
    cursor: pointer;

    &:hover {
        color: rgb(255, 0, 191);
        background-color: rgba(255, 0, 191, 0.125);
    }
}

.form {
    width: 100%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    font-size: 10px;
}

.errorMessage {
    height: 5%;
    width: 100%;
    font-size: small;
    color:red;
}

.btnSave {
    margin-left: 70%;
    padding: 4px;
    background: none;
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 4px;
    cursor: pointer;

    &:hover{ 
        border: 1px solid rgb(255, 0, 191);
        color:rgb(255, 0, 191);
    }
}
