.layoutContainer {
  min-height: 100vh;
  min-width: 880px;
  display: grid;
  place-items: center;
  background: url('images/bg_pageGame.svg');
  background-size: cover;
}

.layout {
  width: 800px;
  margin: 40px;
  padding: 30px;
  background: linear-gradient(180deg, #1b0085 0%, #430085 47.4%, #7900b3 100%);
  border-radius: 15px;
  font-family: 'Inter', sans-serif;
  text-align: center;
  color: #ffffff;
}
